.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1.5rem 1rem;

  border-right: 2px solid $color-text-light;
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  &__list {
  }

  &__item {
    margin-left: 1rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    font-size: 1.2rem;
  }
}
